  /* Blogs section */
  .blogs{
    background-color: var(--secondary-color);
  }
  .blogs-content{
    display: grid;
    grid-template-columns: 1fr 0.3fr;
  }
  .blogs-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 40px;
  }
  .blogs-card img{
    max-height: 500px;
    width: 100%;
    border-radius: 5px;
  }
  .single-blog-card{
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    gap: 1.5rem;
    border-radius: 5px;
    padding: 30px;
    width: 100%;
  }

  /* blog title and full description */
  .blog-title-and-desc{
    top:0
  }
  .blog-title{
    color: var(--text1-color);
  }
  .blog-desc{
    padding: 1rem 0 1rem;
    color: var(--text2-color);
  }
  /* comments */
  .comments{
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 80%;
    padding: 10px;
  }
  .comments img{
    height: 40px;
    width: 40px;
  }
  .names-comment h4{
    color: var(--text1-color);
    padding-bottom: 4px;
  }
 .names-comment p{
    color: var(--text2-color);
    font-size: 15px;
  }
  .blog-comments{
    width: 100%;
  }
  .blog-comments h3{
    color: var(--text1-color);
  }
  /* comment form */
  .comment-form{
    top: 0;
  }
  form{
    width: 70%;
  }
  .names-email{
    display: flex;
    gap: 10px;
  }
  .names-email input{
    width: 100%;
    padding: 10px;
    border: none;
  }
  .names-email input:focus{
    border: none;
    outline: none;
  }
  .comment-textarea textarea{
    width: 100%;
    border: none;
    margin-top: 10px;
    padding: 10px;
  }
  .comment-textarea textarea:focus{
    outline: none;
    border: none;
  }
form button{
    width: 25%;
    padding: 5px;
}

  /* Blog Side nav */
  .blogs-sideNav{
    margin: 1rem 1rem;
  }
  /* Blog categories */
  .blogs-categories{
    background-color: var(--primary-color);
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  .title h2{
    color: var(--text2-color);
  }
  .categories{
    padding-top: 1rem;
  }
  .categoty{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: var(--secondary-color);
    padding: 10px; 
    margin-top: 5px;
    color: var(--text2-color);
    cursor: pointer; 
  }
  .categoty img{
    height: 50%;
    width: 50px;
    border-radius: 5px;
  }

  .category-date{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .categ{
    display: flex;
    gap: 10px;
  }

  /* nedia querry */
  @media (max-width: 700px){
    /*  */
    .blogs-card{
      padding: 0.5rem;
    }
    .blogs-content{
      display: flex;
      flex-direction: column-reverse;
    }
    .single-blog-card{
      /*  */
      padding: 0;
      width: 100%;
    }
    form{
      width: 100%;
    }
  }
  @media (min-width: 701px) and (max-width: 900px) {
    .blogs-card{
      padding: 0.5rem;
    }
    .blogs-content{
      display: flex;
    }
    .single-blog-card{
      padding: 0;
      width: 100%;
    }
    form{
      width: 100%;
    }
  }
  @media (min-width: 901px) and (max-width: 1200px) {
    .humberger{
      display: none;
    }
  }
 