/* Projects Section */
.projects{
    background-color: var(--secondary-color);
}
.Projects-container{
    /* padding: 3rem 0 3rem; */
    top: 0;
  }
.projects-categories{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0 0 0;
}
.projects-cards{
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.card{
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 5px;
}
.card img{
    height: 200px;
    width: 100%;
}
.projects-filter-button{
    padding: 5px 30px 5px;
    border: 1px solid var(--text2-color);
    background-color: var(--secondary-color);
    color: var(--text1-color);
    cursor: pointer;
}
.projects-filter-button:hover{
    background-color: var(--primary-color);
    color: var(--text1-color)
}