/* Projects Section */
.projects{
    background-color: var(--secondary-color);
}
.projects-categories{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0 0 0;
}
.projects-cards{
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.card{
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 5px;
}
.card img{
    height: 200px;
    width: 100%;
}
.projects-filter-button{
    padding: 5px 30px 5px;
    border: 1px solid var(--text2-color);
    background-color: var(--secondary-color);
    color: var(--text1-color);
    cursor: pointer;
}
.projects-filter-button:hover{
    background-color: var(--primary-color);
    color: var(--text1-color)
}

/* Media querry */
@media (max-width: 700px){
    .projects-categories{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
    }
    .projects-cards{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0;
    }
}
@media (min-width: 701px) and (max-width: 900px) {
    .projects-categories{
        padding: 2rem 0;
    }
    .projects-cards{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width: 901px) and (max-width: 1200px) {
    .humberger{
      visibility: hidden;
    }
  }