  /* Skills Section */
  .skills{
    background-color: var(--secondary-color);
  }
  .Skills-container{
    padding: 3rem 0 3rem;
  }
  .skills-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
  .small-title{
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .small-title i{
    font-size: 20px;
  }
  .skills-title h2{
    color: var(--text1-color);
  }
  .small-title i, p{
    color: var(--text2-color);
  }

  /* Skills card */
  .skills-cards{
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
  .card{
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 5px;
    background-color: var(--primary-color);
  }
  .card img{
    height: 100px;
    width: 100px;
  }
  .skill-bar{
    width: 100%;
    padding: 10px 0 10px;
  }
  .skill-name-percent{
    display: flex;
    justify-content: space-between;
    color: var(--text2-color);
  }
  .skil-desc{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    gap: 10px;
  }
  .main-bar{
    width: 100%;
    background-color: var(--secondary-color);
    padding: 10px;
    position: relative;
  }
  .inner-bar{
    position: absolute;
    padding: 10px;
    top: 0;
    left: 0;
    background-color: var(--text2-color);
    width: 80%;
  }

  /* Media querry */
  @media (max-width: 700px){
    .skills-title{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .skills-cards{
      display: grid;
      grid-template-columns: 1fr;
      gap: 1rem;
      padding: 2rem 0.5rem;
    }
    .card{
      width: 100%;
    }
  }
  @media (min-width: 701px) and (max-width: 900px) {
    /*  */
    .skills-title{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .skills-cards{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      padding: 2rem 0.5rem;
    }
  }
  @media (min-width: 901px) and (max-width: 1200px) {
    .humberger{
      visibility: hidden;
    }
  }
