*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Markazi Text', serif;
}

/* all wrapper content div container */
.all-wrapper{
    /* Global colors */
    --primary-color: #252734; /* main color for background */
    --secondary-color: #2A2C39; /* second main color for background  */
    --text1-color: white; /* sub Text color */
    --text2-color: #84858E; /* sub Text color */

    /* wrapper settings */
    padding-left: 200px;
    padding-right: 200px;
    height: 750px;
    background-color: var(--primary-color);
}
.wrapper{
    /* without bg-color */
    padding-left: 200px;
    padding-right: 200px;
    background-color: var(--primary-color);
}
.wrapper-noColor{
    /* without bg-color */
    padding-left: 200px;
    padding-right: 200px;
}

.centered-part{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: var(--secondary-color);
}

