  /* Blogs section */
  .blogs{
    background-color: var(--secondary-color);
  }
  .blogs-content{
    display: grid;
    grid-template-columns: 1fr 0.3fr;
  }
  .blogs-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 40px;
  }
  .blogs-card img{
    height: 100px;
    width: 100px;
    border-radius: 5px;
  }
  .single-blog-card{
    display: flex;
    background-color: var(--primary-color);
    gap: 1.5rem;
    border-radius: 5px;
    padding: 30px;
    width: 90%;
  }
  .card-text-part{
    display: flex;
    gap: 0.3rem;
    flex-direction: column;
  }
  .card-text-part h3{
    color: var(--text1-color);
  }
  .card-text-part i, p, .blog-desc{
    font-size: 15px;
    color: var(--text2-color);
  }

  .likes-comments{
    display: flex;
    gap: 1rem;
    padding: 1rem;
  }
  .likes{
    display: flex;
    gap: 5px;
  }
  .comments{
    display: flex;
    gap: 5px;
  }

  /* Blog Side nav */
  .blogs-sideNav{
    margin: 1rem 1rem;
  }
  .sidebar-blog-search{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: var(--primary-color);
  }
  .search-input{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px; 
  }
  .search-input:focus{
    border: none;
    outline: none;
  }

  /* Blog categories */
  .blogs-categories{
    background-color: var(--primary-color);
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
  }
  .title h2{
    color: var(--text2-color);
  }
  .categories{
    padding-top: 1rem;
  }
  .categoty{
    background-color: var(--secondary-color);
    padding: 10px; 
    margin-top: 5px;
    color: var(--text2-color);
    cursor: pointer; 
  }

  /* blogs sliders */
  .prev, .next{
    background-color: var(--primary-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .blogs-sliders{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }
  .blogs-sliders i{
    color: var(--text2-color);
  }
