*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Markazi Text', serif;
        /* Global colors */
        --primary-color: #08182F; /* main color for background */
        --secondary-color: #091B34; /* second main color for background  */
        --text1-color: white; /* sub Text color */
        --text2-color: #84858E; /* sub Text color */
        width: 100%;
        height: auto;
        position: relative;

        background-color: var(--primary-color);
}
.container {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 220px calc(100% - 230px); /* Increase size of side nav and create a 10px gap */
    position: relative;
    padding: 0;
    transition: grid-template-columns 0.3s ease; /* Add transition for smooth animation */
}
.container.active{
    grid-template-columns: 50px 1fr;
}
    /* Side nav */
    .side-nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #091B34;
        color: white;
        overflow-y: auto; 
        width: 220px; 
        padding-right: 10px; 
        z-index: 1000; 
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 30px 0;
    }
    .nav-header h1{
        color: var(--text1-color);
        font-size: 40px;
    }
    .each-menu{
        display: flex;
        gap: 7px;
        padding: 15px;
        cursor: pointer;
    }
    .each-menu:hover{
       background-color: black;
    }
    .each-menu span{
        color: var(--text2-color);
    }
    .menu-icon i{
        font-size: 20px;
        color: var(--text2-color);
    }

    nav{
        height: 100%;
        background-color: var(--secondary-color);
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-right: 1px solid var(--text2-color);
    }

    /* Main part */
    .main {
        position: relative;
        padding-top: 60px; /* Adjust as needed based on top nav height */
        padding-left: 230px; /* Ensure main content aligns with side navigation */
        padding-right: 0; /* 10px gap */
        grid-column: 1 / -1; /* Make main content take up all columns */
        z-index: 1; /* Ensure it appears below side nav */
    }
    .body-hero {
        width: 100%;
        background: url(../assets/hero-background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
    }
    /* for all other pages */
    .body-hero-part{
        width: 100%;
        background: url(../assets/hero-background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 4rem 0;
        position: relative;
    }
    .hero-nav, .body-hero-part h1 {
        display: flex;
        gap: 5px;
        color: var(--text1-color);
    }
    .hero-nav .menu{
        color: var(--text2-color);
    }
    /* Top nav */
    .top-nav {
        position: fixed;
        top: 0;
        right: 0;
        width: calc(100% - 230px); 
        height: 60px; 
        background-color: #091B34; 
        color: white; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10px;
        z-index: 1000; 
    }
    .profile-pic{
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .profile-name{
        top:0 ;
    }
    .toggle-icon i{
        font-size: 2rem;
        color: var(--text1-color);
    }

    a{
        text-decoration: none;
    }
    .image-names{
        display: flex;
        gap: 10px;
    }