/* modal */
.blog-modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: #08182fbe;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-modal-content{
    background-color: var(--secondary-color);
    height: 80%;
    width: 70%;
    border: 1px solid var(--text2-color);
}
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    padding: 2px 16px;
    background-color: var(--primary-color);
    color: white;
  }
  /* ===================================================== */

.blogs-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 6rem;
    gap: 5px;
}
.blogs-header-menus{
    padding: 1rem 6rem;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.blogs-header-menus button{
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.single-blog{
    padding: 0.5rem;
    background-color: #091B34;
    cursor: pointer;
}
.blog-img{
    width: 100%;
    height: 200px;
}
.blog-title-description-likesComment h2{
    color: white;
}
.blog-title-description-likesComment p{
    color: var(--text2-color);
}
.likes-actions{
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}
.likes{
    display: flex;
    gap: 5px;
}
.actions{
    display: flex;
    gap: 5px;
}

/* comment and like  + numbers */
.comment-like{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    color: var(--text2-color);
}
.comment-like p{
   font-size: 20px;
}
.actions i{
    font-size: 20px;
    cursor: pointer;
    color: var(--text2-color);
    cursor: pointer;
}

/* Comments and action , blog image */
.content{
    display: grid;
    grid-template-columns: 1fr 0.7fr;
    gap: 10px;
    padding: 20px;
}
.blog-image-desc-actions{
    width: 100%;
    max-height: 500px;
}
.blog-image{
    width: 100%;
    max-height: 500px;
    border-radius: 10px;
}
.blog-desc-actions{
    color: var(--text2-color);
    padding: 20px;
}
.actions{
    margin-top: 1rem;
}
.actions button{
    padding: 5px 20px;
}

.single-comment{
    background-color: rgba(112, 128, 144, 0.5);
    padding: 10px;
    border-radius: 10px;
}
.comment{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.comment.active{
    display: none;
}
.time-ago{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

/* Comments:  names-email */
.blog-comments{
    overflow-y: scroll;
    max-height: 500px;
}

.names-email{
    padding-bottom: 10px;
}
.names-email h4{
    color: var(--text2-color);
    font-size: 20px;
}
.names-email p{
    color: var(--text2-color);
    padding-left: 10px;
}

