.new-blog-form{
    margin: 0 6rem;
}
form{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding: 2rem 10rem;
}
.inputs{
    display: flex;
    gap: 10px;
    margin: 4px 0;
    width: 100%;
}
.title{
    width: 100%;
}
.category{
    width: 100%;
}
.tag{
    width: 100%;
}
.file{
    width: 100%;
}
.inputs input, select{
    padding: 10px;
    border: none;
    width: 100%;
    background-color: white;
}
.inputs input:focus, select:focus{
    padding: 10px;
    outline: none;
}
textarea{
    border: none;
    padding: 5px;
    width: 100%;
}
textarea:focus{
    outline: none;
}
form button{
    width: 10%;
    padding: 0.7rem;
}

/* header menu **Blogs list** */
.blog-header-menu{
    padding: 1rem 6rem;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.blog-header-menu button{
    padding: 10px 10px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}