*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    --primary-color: #252734; /* main color for background */
    --secondary-color: #2A2C39; /* second main color for background  */
    --text1-color: white; /* sub Text color */
    --text2-color: #84858E; /* sub Text color */
}

/* NavBar */
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding-left: 20px;
    padding-right: 20px;
    
}
nav{
    display: flex;
    gap: 2rem;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li{
    color: var(--text2-color);
    margin-right: 8px;
    width: 5rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: medium;
}
nav ul li:hover{
    background-color: var(--text1-color);
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    font-weight: bolder;
   
}
.logo-name{
    color: var(--text1-color);
}
.login-theme-buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.login-button{
    background-color: var(--text1-color);
    height: 2rem;
    width: 4rem;
    border:none;
    cursor: pointer;
}
.theme-changer{
    width: 25px;
    height: 25px;
    cursor: pointer;
}
/* ABout hero */
.header-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem;
}
.header-hero-content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.header-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
}
.header-hero-content h1{
    color: var(--text1-color);
    font-size: 50px;
}
.header-nav .active{
  color: var(--text1-color);
  cursor: pointer;
}
.header-nav .inactive{
    color: var(--text2-color);
    cursor: pointer;
  }
  .header-nav i{
    color: var(--text2-color);
  }

/*  About info  */
.about-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
}
.video-play-icon{
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-solid{
    color: var(--text2-color);
}
.video-play-desc{
    display: flex;
    gap: 2rem;
    width: 80%;
}
.video-play{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.3rem;
}
.get-resume{
    padding: 0.5rem;
    color: var(--text1-color);
    background-color: var(--primary-color);
    border: 1px solid var(--text2-color);
    border-radius: 5px;
}
.get-resume i{
    color: var(--text1-color);
}
#play{
    border: 1px solid var(--text2-color);
}
.about-desc{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about-desc h1{
    color: var(--text1-color);
}
.about-desc h3,p{
    color: var(--text2-color)
}

/* About education info */
.about-centered-part{
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.education-experience{
    background-color: var(--primary-color);
}
.filter-menus{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
}

.experience, .education{
    border: 2px solid var(--text2-color);
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: var(--text1-color);
    cursor: pointer;
}
.experience:hover, .education:hover{
    background-color: var(--text2-color)
}

/* Education */
.education-background{
    padding: 2rem 2rem;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 4rem;
}
.years{
    color: var(--text2-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-right: 1px solid var(--text2-color);
    padding-right: 4rem;
}
.separator{
    color: var(--text2-color);
}
.schools{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}
.schools h3{
    color: var(--text1-color);
}
.schools  h4{
    color:var(--text2-color)
}

/* Footer */
.footer{
    background-color: var(--secondary-color);
}
.footer-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4rem;
}
.footer-subscribe{
    width: 70%;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}
.email-input{
    width: 70%;
    padding: 0.6rem;
    border-radius: 2px;
    border: none;
}
.email-input:focus{
    outline: none;
    border: none;
}
.subscribe-button{
    width: 10%;
    background-color: var(--primary-color);
    color: var(--text1-color);
    border: 1px solid var(--text2-color);
    font-weight: bold;
    border-radius: 5px;
}
.subscribe-button:hover{
    background-color: black;
    border: none;
    cursor: pointer;
}

/* footer-contacts-info */

.footer-contacts-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 1.5rem;
}
.footer-contacts{
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.footer-telephone{
    display: flex;
    gap: 1rem;
}
.footer-telephone p{
    color: var(--text1-color);
}
.footer-email{
    display: flex;
    gap: 1rem;
}
.footer-email p{
   color: var(--text1-color);
}
hr{
    width: 100%;
    margin-top: 2rem;
    border: 0.5px solid #84858E20
}
.social-media {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
}
.social-media div{
    width: 25px;
    height: 25px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text2-color)
}
.social-icons i{
    color: var(--text1-color);
    font-size: 10px;
}