/* Hero-section */
.hero-section{
    height: 580px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text2-color);
    border-radius: 20px;
    margin: 10px 10px;
}
.hero-graphics{
    width: 80%;
    height: 500px;
    display: grid;
    grid-template-columns: 1.2fr 1fr;
}
.graphics{
    display: flex;
    align-items: center;
    padding: 20px;
}
.graphics-part-1{
    position: relative;
    height: 270px;
    width:270px;
    border-radius: 5px;
}
.graphics-part-2{
    padding-top: 1rem;
    height: 270px;
    width: 270px;
    background-color: var(--text1-color);
    position: absolute;
    bottom: 30px;
    right: -12rem;
    border-radius: 5px;
    box-shadow: 4.0px 8.0px 8.0px rgba(0,0,0,0.38);
    display: flex;
    justify-content: center;
}
.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 0 10px 0 10px;
}
.hero-fullstack{
    font-size: 50px;
    color: var(--text1-color);
}
.hey{
    color: var(--text1-color);
}
.ux{
    color: var(--text2-color)
}
.video-play-social-media{
    background-color: var(--text1-color);
    border-radius: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.video-play-icon{
    width: 50px;
    height: 50px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-solid{
    color: var(--text2-color);
}
.social-media {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding-bottom: 10px;
}
.social-media div{
    width: 25px;
    height: 25px;
    background-color: var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--text2-color)
}
.social-icons i{
    color: var(--text1-color);
    font-size: 10px;
}
.hero-pic{
    width: 200px;
    height: 200px;
    transform: rotate(325deg);
}
.scroll-icon{
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.scroll-icon i{
    font-size: 25px;
    padding-right: 1rem;
}


/* services-section */
.services-section{
    height: 600px;
    background-image: url(../../public/assets/images/services.jpg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    position: relative;
}
.servise-wrapper{
    padding-left: 200px;
    padding-right: 200px;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #08182fb7;
    padding: 40px;
}
.services-title{
    display: flex;
    gap: 0.5rem;
}
.title{
    padding-bottom: 20px;
    color: var(--text1-color);
}
.services-title p{
    color: var(--text2-color);
}
.services-cards{
    display: grid;
    grid-template-columns: 0.2fr 2.6fr 0.2fr;
    gap: 20px;
}
.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.single-card{
    height: 400px;
    width: 100%;
    padding: 4px;
}
.single-card .one{
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px 20px;
    border-radius: 10px;
}
.fa-globe , .fa-mobile-screen,  .fa-compass-drafting{
    font-size: 3rem;
    color: var(--text2-color);
}
.one .fa-angles-right{
    font-size: 0.7rem;
    color: var(--text2-color);
}
.one h2{
    color: var(--text1-color);
    padding-bottom: 10px;
    margin-top: 10px;
}
.tools{
    width: 35%;
}
.tool-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.tools p{
    font-size: 1rem;
    color: var(--text2-color);
}
.slider-2{
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider-2 i{
    font-size: 25px;
}

/* statistics Section */
.statistics{
    background-color: var(--primary-color);
}
.footer{
    background-color: var(--secondary-color);
}
.card-container{
    margin-left: 200px;
    margin-right: 200px;
    /* background-color: red; */
    height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3px;
}
.single-card-items{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-desc{
    width: 240px;
    height: 100px;
    padding: 1rem;
    background-color: var(--secondary-color);
    display: flex;
    align-items: center;
    gap: 1rem;
    border-radius: 0.5rem;
}
.icon{
    font-size: 2rem;
    border: 1px solid #474955;
    padding: 1rem;
    border-radius: 10px;
}
.desc{
    padding: 1rem;
}
.desc h1{
    color: var(--text1-color);
    font-size: 3rem;
}
.desc p{
    color: var(--text2-color)
   
}