.card-align{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(50%);
    padding: 0 6rem;
}
.card-stat{
    height: 10rem;
    width: 300px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: white;
    border: 1px solid white;
}
.my-profile{
    width: 150px;
    height: 150px;
}
.settings{
    background-color: red;
}
.body-settings{
    margin: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: var(--secondary-color)
}
.left-settings{
    height: 23rem;
}
.right-settings{
    height: 10rem;
    padding: 1rem;
}

/* form */
form{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    padding: 1rem;
}
.inputs{
    display: flex;
    gap: 10px;
    margin: 4px 0;
    width: 100%;
}
.names, .proffession, .email, .password, .telephone, .other{
    width: 100%;
}
.file, .intro-video{
    width: 100%;
}
.inputs input, select, .intro-video{
    padding: 10px;
    border: none;
    width: 100%;
    background-color: white;
}
.inputs input:focus, select:focus{
    padding: 10px;
    outline: none;
}
textarea{
    border: none;
    padding: 5px;
    width: 100%;
}
textarea:focus{
    outline: none;
}
.inputs-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
form button{
    width: 30%;
    padding: 0.7rem;
}



